@import './../../../helpers/styles/colors.scss';

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 20px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99998;
    background-color: rgba(0,0,0,0.3);
}

.appointmentForm {
    input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 5px;
        margin-top: 10px;
        &:focus-visible {
            border: 1px solid $drip-blue;    
        }
    }
    button {
        border: none;
        background-color: $drip-blue;
        color: #FFF;
        border-radius: 99px;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        float: right;
        margin-top: 10px;
        &.cancel {
            background-color: #d0d0d0;
            float: left;
        }
    }
}