@import './../../../helpers/styles/colors.scss';

.navigation {
    height: 80px;
    background-color: #FFF;
    position: fixed;
    width: 100%;
    animation: revealNav 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    animation-delay: 2s;
    z-index: 1199;
}

.navigationInner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            padding-left: 20px;
            text-transform: uppercase;
            font-weight: 500;
            a {
                color: #999;
                text-decoration: none;
                transition: color .3s;
                letter-spacing: 1px;
                &:hover {
                    color: $drip-blue;
                }
            }
            button {
                border: none;
                background-color: $drip-blue;
                color: #FFF;
                border-radius: 99px;
                padding: 10px 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

@keyframes revealNav {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}