@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.ecofriendly {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    max-height: 830px;
    h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
        pointer-events: none;
    }
    p {
        pointer-events: none;
        font-weight: 500;
        font-size: 24px;
        margin: 0;
    }
    .video {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        background-color: #f3f3f3;
        position: absolute;
        left: 0;
        overflow: hidden;
        transition: width 1s, height 1s, left 1s, right 1s, top 1s, bottom 1s;
    }
    .videoPlayer {
        width: auto; 
        background-size: cover;
        overflow: hidden;
    }
    .text {
        transform: translateX(-30px);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        position: relative;
        width: 65%;
        margin-left: auto;
        order: 2;
        padding: 30px 0 30px 30px;
        background-color: rgba(255,255,255,.6);
    }

    &.animate {
        .video {
            animation: reveal 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        .text {
            animation: revealTextLeftRight 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation-delay: 1s;
        }
    }
    &.done {
        .video {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }
        .text {
            transform: translateX(0px);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}