@import './colors.scss';

@keyframes reveal {
    from {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes revealText {
    from {
        transform: translateY(30px);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        transform: translateY(0px);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes revealTextLeftRight {
    from {
        transform: translateX(-30px);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        transform: translateX(0px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes revealPage {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

.pageTransition {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .inAnimation {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 0;
        background: $drip-blue;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    &.fade-enter {
        .pageContent {
            opacity: 0;
        }
    }
    &.fade-enter-active {
        .pageContent {
            opacity: 1;
            transition: opacity 100ms;
            transition-delay: 750ms;
        }
    }
    &.fade-exit {
        .pageContent {
            opacity: 1; 
        }
    }
    &.fade-exit-active {
        .inAnimation {
            z-index: 99999;
            animation: revealPage 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        .pageContent {
            opacity: 0;
            transition: opacity 100ms;
            transition-delay: 750ms;
        }
    }
}