@import './colors.scss';
@import './animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Rubik:wght@900&display=swap');

body {
    font-family: 'Open sans', sans-serif;
}

h1, h2, h3 {
    &.large {
        font-family: 'Rubik', sans-serif;
        font-size: 96px;
        line-height: 90px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $drip-blue;
        margin: 0;
    }
}