@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.portfolio {
    padding: 80px 7.5px;
    background-color: $light-grey;
    h2 {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        position: relative;
        padding-bottom: 4px;
        letter-spacing: 2px;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        &:after {
            content: "";
            width: 0px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $drip-blue;
            transition: width .3s;
            transition-delay: .8s;
        }
    }

    img {
        opacity: 0;
        transition: opacity .4s;
        cursor: none !important;
    }

    &.animate {
        h2 {
            animation: revealText 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            &:after {
                width: 80px;
            }
        }
        img {
            opacity: 1;
            &:nth-child(1) { transition-delay: 1s }
            &:nth-child(2) { transition-delay: 1.1s }
            &:nth-child(3) { transition-delay: 1.3s }
            &:nth-child(4) { transition-delay: 1.6s }
            &:nth-child(5) { transition-delay: 1.4s }
            &:nth-child(6) { transition-delay: 1.3s }
            &:nth-child(7) { transition-delay: 1.1s }
            &:nth-child(8) { transition-delay: 1.5s }
            &:nth-child(9) { transition-delay: 1.2s }
            &:nth-child(10) { transition-delay: 1.4s }
            &:nth-child(11) { transition-delay: 1.2s }
        }
    }
    &.done {
        h2 {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            &:after {
                width: 80px;
            }
        }

        img {
            opacity: 1;
        }
    }
}