@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    max-height: 830px;

    &.animate {
        h1 {
            animation: revealText 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        h2 {
            animation: revealText 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation-delay: .5s;
        }
        .video {
            animation: reveal 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation-delay: 1s;
        }
    }
    &.done {
        h1 {
            transform: translateY(0px);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }
        h2 {
            transform: translateY(0px);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }
        .video {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }
    }

    h1 {
        transform: translateY(30px);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        pointer-events: none;
    }
    h2 {
        transform: translateY(30px);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        pointer-events: none;
        font-weight: 500;
        font-size: 28px;
        margin: 0;
    }
    .video {
        height: calc(100vh - 160px);
        max-height: calc(830px - 160px);
        background-color: #f3f3f3;
        width: 600px;
        position: absolute;
        right: 0;
        top: 80px;
        overflow: hidden;
        transition: width 1s, height 1s, left 1s, right 1s, top 1s, bottom 1s;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    .videoPlayer {
        position: absolute; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        z-index: -100;
        background-size: cover;
        overflow: hidden;
    }
    .fullscreenRequest {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        padding: 20px;
        right: 0;
        transition: visibility 1s, opacity 1s;
    }
    &.fullScreen {
        .video {
            width: 100%;
            height: 100;
            z-index: 1198;
        }
        .fullscreenRequest {
            opacity: 1;
            visibility: visible;
        }
    }
}