@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.services {
    position: relative;
    padding: 80px 0;
    background-color: $light-grey;
    overflow: hidden;
    h2 {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        position: relative;
        padding-bottom: 4px;
        letter-spacing: 2px;
        &:after {
            content: "";
            width: 0px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width .3s;
            background-color: $drip-blue;
            transition-delay: .8s;
        }
    }
    h3 {
        text-align: center;
        font-size: 18px;
        position: relative;
        padding-bottom: 4px;
        &:after {
            content: "";
            width: 40px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -20px;
            background-color: $drip-blue;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 0px;
    }
    button {
        float: right;
        margin-top: 20px;
        border: 1px solid #ececec;
        color: #d4d4d4;
        border-radius: 99px;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: transparent;
        transition: color .2s, background .2s, border .2s;
        &:hover {
            border: 1px solid transparent;
            background-color: $drip-blue;
            color: #FFF;
        }
    }
}
.servicesSlider {
    padding: 0 80px;
}

.serviceSlide {
    background-color: #FFF;
    padding: 15px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    &.animate {
        animation: reveal 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        &:nth-child(1) { animation-delay: .5s }
        &:nth-child(2) { animation-delay: .6s }
        &:nth-child(3) { animation-delay: .7s }
        &:nth-child(4) { animation-delay: .8s }
        &:nth-child(5) { animation-delay: .9s }
    }
    &.done {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    img {
        width: 100%;
        max-width: 100%;
    }
}

.headerText {
    margin: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    &.animate {
        animation: revealText 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        &:after {
            width: 80px;
        }
    }
    &.done {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        &:after {
            width: 80px;
        }
    }
}