@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.reviews {
    width: 100%;
    background-color: $drip-blue;
    color: #FFF;
    padding: 80px 0px;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text {
            transform: translateX(-30px);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            h2 {
                font-size: 40px;
                line-height: 40px;
                text-transform: uppercase;
                margin: 0;
                pointer-events: none;
                color: #FFF;
                letter-spacing: 2px;
            }
            p {
                margin: 0;
                font-size: 16px;
            }
            a {
                color: #FFF;
            }
        }
        .stars {
            display: flex;
            .one,
            .two,
            .three,
            .four,
            .five {
                position: relative;
            }
            .one svg.bg { transition-delay: 1.1s }
            .two svg.bg { transition-delay: 1.2s }
            .three svg.bg { transition-delay: 1.3s }
            .four svg.bg { transition-delay: 1.4s }
            .five svg.bg { transition-delay: 1.5s }

            .one svg.fill { transition-delay: 2s }
            .two svg.fill { transition-delay: 2.2s }
            .three svg.fill { transition-delay: 2.4s }
            .four svg.fill { transition-delay: 2.6s }
            .five svg.fill { transition-delay: 2.8s }

            svg {
                margin-left: 10px;
                fill: #FFF;
                &.bg {
                    opacity: 0;
                    transition: opacity .2s;
                }
                &.fill {
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }
    }

    &.animate {
        .inner {
            .text {
                animation: revealTextLeftRight 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            }
            .stars {
                svg {
                    &.bg {
                        opacity: .3;
                    }
                    &.fill {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.done {
       .inner {
           .text {
                transform: translateX(0px);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
           }
           .stars {
                svg {
                    &.bg {
                        opacity: .3;
                    }
                    &.fill {
                        opacity: 1;
                    }
                }
            }
       }
    }
}