@import './../../../../helpers/styles/colors.scss';
@import './../../../../helpers/styles/animations.scss';

.appointment {
    width: 100%;
    background-color: $drip-blue;
    color: #FFF;
    padding: 80px 0px;
}